In [29]:
import numpy as np
import pandas as pd
import glob
import csv
import sqlite3
import glob
import os

# Function that takes all CSV fiels and add them to one file

In [49]:
# all the data set of Archive file in one database
def do_directory(dirname, db):
    for filename in glob.glob(os.path.join(dirname, '*.csv')):
        do_file(filename, db)

def do_file(filename, db):
        with open(filename) as f:
            with db:
                data = csv.DictReader(f)
                cols = data.fieldnames
                table=os.path.splitext(os.path.basename(filename))[0]

                sql = 'drop table if exists "{}"'.format(table)
                db.execute(sql)

                sql = 'create table "{table}" ( {cols} )'.format(
                    table=table,
                    cols=','.join('"{}"'.format(col) for col in cols))
                db.execute(sql)

                sql = 'insert into "{table}" values ( {vals} )'.format(
                    table=table,
                    vals=','.join('?' for col in cols))
                db.executemany(sql, (list(map(row.get, cols)) for row in data))

if __name__ == '__main__':
    conn = sqlite3.connect('foo2.db')
    do_directory('.', conn)

# Make connection with SQL to organize the dataset

In [31]:
conn = sqlite3.connect('archive (1)/foo.db')

In [33]:
cursor = conn.cursor()

### Give me everything from Teams table and left juin them with the columns from Fitching table 

- deleted yearID , W, L, IPouts,SV,SHO,CG,ER,SF, from the Patch because when it is sum it is as the same as the team column
- I choose to add both G,HR,BB, SO, ERA,HBP, R, H from both tables coz the sum of pitching is not as the team

In [42]:
db_df = pd.read_sql_query("""
SELECT  
        t.*,
        playerID, stint,p.G AS G_P, GS, 
        p.H AS H_P, p.HR AS HR_P, p.BB AS BB_P, p.SO AS SO_P, BAOpp, 
        p.ERA AS ERA_P, IBB, WP, p.HBP AS HBP_P, BK, BFP, GF,
        p.R AS R_P, SH, GIDP
        
                            
FROM   
        Teams as t
LEFT JOIN  Pitching as p
ON  p.yearID = t.yearID AND
    p.teamID = t.teamID 
  
""", conn)
db_df.to_csv('database.csv', index=False)

### Give me everything from Fielding table and left juin them with the columns from Master table ,then another left join with Salary table
- Deleted columns that are the same as database1 Stain coz it is as the same as database1
- want only column weight, height, bats, throws from Master table 
- Want only salary from Salary table

In [48]:
db_df = pd.read_sql_query("""
SELECT  
        weight, height, bats, throws,
        f.playerID, yearID, teamID, lgID, POS, G, GS, InnOuts, PO, A, E, DP, PB,
        WP, SB, CS, ZR
                              
FROM   
        Fielding AS f
LEFT JOIN Master AS m
ON  m.playerID = f.playerID 
  
""", conn)

db_df.to_csv('database2.csv', index=False)

In [ ]:
# all the data set in this direction which are database and database2 file in one database
def do_directory(dirname, db):
    for filename in glob.glob(os.path.join(dirname, '*.csv')):
        do_file(filename, db)

def do_file(filename, db):
        with open(filename) as f:
            with db:
                data = csv.DictReader(f)
                cols = data.fieldnames
                table=os.path.splitext(os.path.basename(filename))[0]

                sql = 'drop table if exists "{}"'.format(table)
                db.execute(sql)

                sql = 'create table "{table}" ( {cols} )'.format(
                    table=table,
                    cols=','.join('"{}"'.format(col) for col in cols))
                db.execute(sql)

                sql = 'insert into "{table}" values ( {vals} )'.format(
                    table=table,
                    vals=','.join('?' for col in cols))
                db.executemany(sql, (list(map(row.get, cols)) for row in data))

if __name__ == '__main__':
    conn = sqlite3.connect('foo2.db')
    do_directory('.', conn)

### Join database and database2 together

In [64]:
db_df = pd.read_sql_query("""
SELECT  
        database.*, POS,d.G AS G_F, d.GS AS GS_F, InnOuts, PO, A, d.E AS E_F,
        d.DP AS DP_F, PB, d.WP AS WP_F, d.SB AS SB_F, d.CS AS AS_F, ZR

                              
FROM   
        database 
LEFT JOIN database2 AS d
ON  database.playerID = d.playerID AND database.yearID = d.yearID 
  
""", conn)

db_df.to_csv('database3.csv', index=False)